<link rel="stylesheet" href="/css/employee.css">

<a id= "back-button" href="/employee/employee">Back</a>
<div id="employee-container">
   
        <div id="container">
            <!-- emoloyee details -->
                    <div id="employee-details">
                        <div id="employeeName">
                            <strong>Name </strong>
                           <div><%= employee.employeeName %></div>
                        </div>
                        <div>
                            <strong>User Type </strong>
                            <div  div="userType">
                                <%if( employee.userType === 'admin'){%>
                                  <span value="admin" selected > Admin </span>
                                <%} else { %>
                                  <span value="employee" selected> Employee </Span>
                                  <%}%> 
                                </div>
                        </div>
                        <div>
                            <strong>Department </strong>
                            <div id="department" >
                                <%if(employee.department === 'HR'){%>
                                    <span id="HR" >human resource </span>
                                <%} else if(employee.department  === 'Sales'){%>
                                    <span id="Sales" > sales </span>
                                <% } else if(employee.department === 'Production'){%>
                                    <span id="Production" > Production </span>
                                <%}else if(employee.department === 'Marketing'){%>
                                    <span id="Marketing" > Marketing </span>
                                    <%}%>
                              </div>
                        </div>
        
                        <div>
                            <strong>Email : </strong>
                            <span id="email" > <%=employee.email  %></span>
                        </div>
                    </div>


                    <div id="create-performance">
                            <h2>Add Review</h2>
                        <form action="/performance/create-performance" method="POST">
                            <input type="hidden" name="reviewBy" value="<%=locals.user.employeeName%>">
                            <input type="hidden" name="reviewFor" value="<%= employee._id%>">
                            
                            <div>
                                <textarea name="description" cols="30" rows="2">why giving this rank?</textarea>
                            </div>
                            <div >
                                <label id="rank" for="ranking">Rank 1 to 10</label>
                                <input type="number" name="ranking" min="1" max="10">
                            </div>
                    
                            <button id="add-peformance-btn">SUBMIT</button>
    
                            
                        </form>
                    </div>

                    <div id="review-list">
                        <h1 class="head1">Performances</h1>
                        <%for(let reviewe of employee.performanceList){%>
                        <div id="review">
                            <div id="review-by">
                            <strong>Review By : </strong> <%= reviewe.reviewBy%>
                            </div>
                            <div id="review-description">
                                <p id="comment">
                                  <strong>Descriptin :</strong>   <%=reviewe.description%>
                                </p>
                                <span>Rating : <%=reviewe.ranking %></span> 
                            </div>
                        </div>
                        <%}%>
                    </div>
        </div> 

 </div>
    

 

</div>



   



