<link rel="stylesheet" href="/css/employee.css">

<div id="employee-container">
        <div id="container">
            <!-- emoloyee details -->
                    <div id="employee-details">
                        <div id="employeeName">
                            <strong>Name </strong>
                           <div><%= locals.user.employeeName %></div>
                        </div>
                        <div>
                            <strong>User Type </strong>
                            <div  div="userType">
                                <%if( locals.user.userType === 'admin'){%>
                                  <span value="admin" selected > Admin </span>
                                <%} else { %>
                                  <span value="employee" selected> Employee </Span>
                                  <%}%> 
                                </div>
                        </div>
                        <div>
                            <strong>Department </strong>
                            <div id="department" >
                                <%if( locals.user.department === 'HR'){%>
                                    <span id="HR" >human resource </span>
                                <%} else if( locals.user.department  === 'Sales'){%>
                                    <span id="Sales" > sales </span>
                                <% } else if( locals.user.department === 'Production'){%>
                                    <span id="Production" > Production </span>
                                <%}else if( locals.user.department === 'Marketing'){%>
                                    <span id="Marketing" > Marketing </span>
                                    <%}%>
                              </div>
                        </div>
        
                        <div>
                            <strong>Email : </strong>
                            <span id="email" > <%=locals.user.email  %></span>
                        </div>
                    </div>

                    <div id="review-list">
                        <h1 class="head1">Performances</h1>
                        <%for(let reviewe of employee.performanceList){%>
                        <div id="review">
                            <div id="review-by">
                            <strong>Review By : </strong> <%= reviewe.reviewBy%>
                            </div>
                            <div id="review-description">
                                <p id="comment">
                                  <strong>Description :</strong>   <%=reviewe.description%>
                                </p>
                                <span>Rating : <%=reviewe.ranking %></span> 
                            </div>
                        </div>
                        <%}%>
                    </div>
        </div>

        <div id="reviewee-list">
            <h1 class="head1">Reviewee List</h1>
            <% if(revieweeList.length>0){%>
                        <%for(let reviewee of revieweeList){%>
                         <a href="/employee/add-review/<%= reviewee._id %>"  id="emp-name"><%= reviewee.employeeName %></a>
                        <%}%>
            <%}%>
        </div>  

 </div>
    
</div>






