
<link rel="stylesheet" href="/css/employee_details.css">

<div id="employee-details-container">
        <form id = "employee-details" action="/employee/update-employee/<%= employee._id%>" method="POST">

            <div id="container">
                <div>
                    <label for="employeeName">Name</label>
                    <input type="text" value="<%= employee.employeeName %>" name="employeeName" id="employee-name">
                </div>
                <div>
                    <label>Is she/he admin?</label>
                    <select  name="userType" value ="" required>
                        <%if( employee.userType === 'admin'){%>
                          <option value="admin" selected > Yes </option>
                          <option value="employee" > No </option>
                        <%} else { %>
                        
                          <option value="employee" > No </option>
                          <option value="admin"  > Yes </option>
                          <%}%> 
                      </select>
                </div>
                <div>
                    <label>Select department.</label>
                    <select name="department" required>
                        <%if( employee.department === 'HR'){%>
                            <option value="HR" selected>human resource </option>
                        <%} else { %>
                            <option value="HR" >human resource </option>
                            <%}%>

                        <%if( employee.department  === 'Sales'){%>
                            <option value="Sales" selected> sales </option>
                            <% } else{ %>
                                <option value="Sales" > sales </option>
                                <%}%>

                        <%if( employee.department === 'Production'){%>
                            <option value="Production" selected> Production </option>
                            <%} else{%>
                            <option value="Production" > Production </option>
                                <%}%>

                        <%if( employee.department === 'Marketing'){%>
                            <option value="Marketing" selected> Marketing </option>
                        <%} else{%>
                            <option value="Marketing" > Marketing </option>
                            <%}%>
                      </select>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" value="<%= employee.email %>" name="email" id="employee-email">
                </div>
              
            </div>
            <button id="update"> Update </button>
        </form>
    
    <div id="actions">
        <div id="assign-review">Assign Review</div>

        <form id="assign-form" action="/employee/<%= employee._id %>/push-reviews" method="post">
            <a class="btn" id="assign-close">close</a>
            <h3 style="margin-bottom: 15px;"> Select employees</h3>
            <% if(employees.length>0){%>
                    <%for(let employee of employees){%>
                        <%if(employee.userType=='employee'){%>
                            <label class="container"><%=employee.employeeName%>
                                <input name="assign" type="checkbox" value="<%= employee.id%>">
                                <span class="checkmark"></span>
                            </label>
                            
                        <%}%>
                    <%}%>
                <button id="submit-btn"type="submit"> submit</button>
            <%}%>
        </form>
        

        <a href="/employee/delete-employee/<%= employee._id%>" id="delete">Delete</a>
       
    </div>
</div>


<!-- Craete performance -->

<div id="create-performance">
    <strong>Employee Name</strong> <span> <%= employee.employeeName %></span>
    <form action="/performance/create-performance" method="POST">
        <input type="hidden" name="reviewBy" value="<%=locals.user.employeeName%>">
        <input type="hidden" name="reviewFor" value="<%= employee._id%>">
        
        <div>
            <textarea name="description" cols="30" rows="2" placeholder="why giving this rank?"></textarea>
        </div>
        <div >
            <label for="ranking">Rank 1 to 10</label>
            <input type="number" name="ranking" min="1" max="10">
        </div>

        <button id="add-peformance-btn">SUBMIT</button>
        <button id="close-btn">Close</button>
        
    </form>
</div>



<!-- performance of employee -->
<h1 style="margin-left:660px; margin-top: 50px; margin-bottom: 20px;">Performance Reviews</h1>
<div id="performance-reviews">
    <button id="add-review-btn">Add review</button>
     
            <% for(performance of employee.performanceList) {%>
                <form action="/performance/update-performane/<%= performance._id%>" class="review" method="POST">
                    <input type="hidden" name="reviewBy" value="<%=locals.user.employeeName%>">
                    <input type="hidden" name="reviewFor" value="<%= employee._id%>">
                    <div id="review-by-update">
                        <div id="review-by"><strong>Review By : </strong> <%= locals.user.employeeName%></div>
                        <a href="/performance/<%=performance.id%>/delete">delete</a>
                    </div>
                    <div id="review-description">
                    <p id="comment">
                        <textarea name="description" value="<%=performance.description%>" cols="50" rows="3"><%=performance.description%></textarea>
                    </p>
                    <input id="ranking" type="number" name="ranking" min="1" max="10" value="<%=performance.ranking %>">
                    </div>
                    <button id="update-review" >UPDATE</button>
                </form>
        <%}%>


</div>




<script src="/js/admin.js"></script>


